@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
  box-sizing: border-box;

}
 html{
  scroll-behavior: smooth;
 }

body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;

}
